.active {
  color: red;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  font-size: 2rem;
  align-items: center;
}
.sec > h1 {
  font-size: 3rem;
  text-align: center;
}

.react-icon {
  font-size: 10rem;
}

.sec {
  text-align: center;
}

.section {
  display: flex;
  justify-content: space-around;
}
.player1 {
  display: flex;
  flex-direction: column;
}
.player2 {
  display: flex;
  flex-direction: column;
}
.player1 > label {
  font-size: 1.5rem;
}
.player2 > label {
  font-size: 1.5rem;
}

.player1 > input {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 300px;
  border: none;
  border-radius: 10px;
}

.player2 > input {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 300px;
  border: none;
  border-radius: 10px;
}
.player-text > h2 {
  text-align: center;
  font-size: 2rem;
}

h4 {
  width: 200px;
  text-decoration: none;
  text-align: center;
  font-size: 2rem;
  color: black;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 10px;

  text-decoration: none;
}

.userBattle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navLink3 {
  text-decoration: none;
}
