.flex-sb {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  width: 200px;
  padding: 0.5rem;
}

.input-text-field {
  width: 300px;
  border: none;
  border-radius: 10px;
}
.hidden {
  border: 1px solid;
}

.Guser {
  margin-top: 1rem;

  height: 10px;
  background-color: #ebebeb;
  font-size: 1.5rem;
}
.Iuser {
  width: 60px;
  height: 60px;

  border: none;
  border-radius: 50%;
}
